/* CSS Reset Modified: http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}
/***********************/
body {
  background-color: gray;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body, .l-wrap, .calc-grid {
  width: 100%;
  height: 100%;
}

.l-wrap {
  max-width: 769px; /*max width fills ipad portrait*/
  margin: 0 auto;
}

.calc-grid {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

/*clearfix*/
.calc-grid:after {
  display: table;
  content: '';
  clear: both;
}

.calc-number {
  font-size: 3.3em; /*iphone 5. 3.4em iphone 6, 3.5em iphone 6plus  */
  float: right;
  margin-right: 5px;
  margin-top: 15px;
}

.calc-screen {
  width: calc(100% - 40px);
  height: 70px;
  float: left;

  margin-top: 36px; /*centered on iphone 5, bottom margin expands for larger phones*/
  margin-bottom: 10px; /*margin minimum*/
  margin-left: 20px;
  margin-right: 20px;

  border: solid 2px #d3d3d3;
  background-color: #fafafa;
}

.row {
  height: 25%;
}

.col {
  width: calc((100% - 100px) / 4);
  height: 75%;
  float: left;

  margin-left: 20px;
}

.col-4 {
  margin-right: 20px;
}

button {
  width: 100%;
  height: calc((100% - 100px) / 5);
  margin-bottom: 20px;
  padding: 0px;

  border-style: none;
  background-color: #d3d3d3;
  font-size: 1.5em;
  text-align: center;
}

button:focus {
  outline: 0;
}

.plus-btn {
  height: calc(20px + ((100% - 100px) / 5) * 2);
}
/*************************************************************/

/*iphone 6 calc-screen positioning*/
@media screen
and (min-width: 374px)
and (min-height: 666px) {
  .calc-screen {
    height: 85px;
    margin-top: 40.875px;
  }
  .calc-number {
    font-size: 4.1em;
    margin-top: 20px;
  }
}

/*iphone 6+ and larger calc-screen positioning*/
@media screen
and (min-width: 413px)
and (min-height: 735px) {
  .calc-screen {
    margin-top: 49.5px;
  }
}

/*ipad calc screen enlargement in portrait*/
@media screen
and (min-height: 950px) {
  .calc-screen {
    margin-top: 68px;
    height: 120px;
  }
  .calc-number {
    font-size: 6.5em;
  }
}

/*larger devices in portrait*/
@media screen
and (min-width: 1023px)
and (min-height: 1300px) {
  .calc-screen {
    margin-top: 110.75px;
  }
}


@media screen
and (orientation: landscape) {

  /*iphone 5*/
  .calc-screen {
    margin-top: 15px;
    height: 50px;
  }

  .calc-number {
    margin-top: 8px;
    font-size: 2.5em;
  }

  button {
    height: calc((100% - 60px) / 5);
    margin-bottom: 12px;
  }

  .plus-btn {
    height: calc(12px + ((100% - 60px) / 5) * 2);
  }

  /*iphone 6*/
  @media screen
  and (min-width: 666px)
  and (min-height: 374px) {
    .calc-screen {
      margin-top: 21.875px;
    }
  }

  /*iphone 6+*/
  @media screen
  and (min-width: 734px)
  and (min-height: 412px) {
    .calc-screen {
      margin-top: 26.75px;
    }
  }

  /*between iphone 6+ and ipad*/
  @media screen
  and (min-height: 500px) {
    .calc-screen {
      height: 70px;
    }
    .calc-number {
      margin-top: 5px;
      font-size: 4.1em;
    }
  }
  @media screen
  and (min-height: 610px) {
    .calc-screen {
      height: 100px;
    }
    .calc-number {
      font-size: 6.3em;
    }
  }


	/*ipads positioning and enlargement*/
  @media screen
  and (min-height: 710px) {
    .calc-screen {
      height: 120px;
      margin-top: 36px;
    }
    .calc-number {
      font-size: 7.5em;
    }
  }

	/*larger devices*/
  @media screen
  and (min-height: 1000px) {
    .calc-screen {
      margin-top: 68px;
    }
  }
}
